<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/e_commerce" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="5" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="userJdbcDaoImpl" class="org.database.DaoImp.UserDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="user_registrationJdbcDaoImpl" class="org.database.DaoImp.User_registrationDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="cartsJdbcDaoImpl" class="org.database.DaoImp.CartsDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="occupationJdbcDaoImpl" class="org.database.DaoImp.OccupationDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="productJdbcDaoImpl" class="org.database.DaoImp.ProductDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="regionJdbcDaoImpl" class="org.database.DaoImp.RegionDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="registrationJdbcDaoImpl" class="RegistrationDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="storeJdbcDaoImpl" class="org.database.DaoImp.StoreDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionJdbcDaoImpl" class="org.database.DaoImp.TransactionDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="gradeJdbcDaoImpl" class="org.database.DaoImp.GradeDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="schoolJdbcDaoImpl" class="org.database.DaoImp.SchoolDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>